.first-screen-section{
	padding: 15px 0 90px;
	background: url("data:image/svg+xml,%3Csvg width='114' height='91' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23213A39' d='M1 1h6v90H1zM58 46h6v45h-6z'/%3E%3C/svg%3E") repeat-x 50% bottom / 20px 16px;
	animation: line 40s linear infinite;

	@keyframes line{
		100% {
			background-position: 0% bottom;
		}
	}

	.section-inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.section-content{
		width: 690px;
	}

	@media screen and (max-width: 991px){
		.section-inner{
			flex-direction: column;
			align-items: stretch;
		}

		.section-content{
			width: 100%;
			margin-bottom: 40px;
		}

		animation: line 20s linear infinite;
	}
}

.advantages-sphere-block{
	margin-right: -200px;
	display: flex;
	align-items: center;

	.block-image-wrapper{
		width: 512px;
		height: 512px;
		border-radius: 50%;
		border: 1px solid $pale;
		display: flex;
		align-items: center;
		justify-content: center;
		animation: borderGlow 4s linear infinite;
		flex: none;
	}

	.block-image{
		width: 81.25%;
		height: 81.25%;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		border: 1px solid $pale;
		padding: 65px;
		position: relative;
		animation: borderGlowHeart 4s linear infinite;
		animation-delay: 3s;

		&:before{
			content: '';
			display: block;
			width: 111.057%;
			height: 111.057%;
			position: absolute;
			left: calc(50% - 111.057% / 2);
			top: calc(50% - 111.057% / 2);
			animation: rotate 50s linear infinite;
			background: url(../img/backgrounds/sphere-circle.svg) no-repeat center center / contain;
		}

		@keyframes rotate{
			100%{
				transform: rotate(360deg);
			}
		}

		@keyframes borderGlow{
			0%{ border-color: $pale; }
			50%{ border-color: $primary; }
		}

		@keyframes borderGlowHeart{
			0%{ border-color: $pale; transform: scale(1); }
			50%{ border-color: $primary; transform: scale(1.04); }
		}

		img{
			display: block;
			max-width: 100%;
			height: auto;
			animation: rotate 50s linear infinite reverse;
		}
	}

	.block-items{
		width: 250px;
		margin-right: 48px;
		flex: none;

		li{
			margin-bottom: 64px;

			&:last-child{
				margin-bottom: 0;
			}
			
			.item-text{
				border: 1px solid $pale;
				padding: 9px 10px 9px 24px;
				position: relative;
				font-size: 15px;
				color: #fff;

				&:before{
					content: '';
					display: block;
					width: 9px;
					height: calc(100% + 2px);
					position: absolute;
					left: -1px;
					top: -1px;
					border: 1px solid $primary;
					border-right: 0;
				}

				&:after{
					content: '';
					display: block;
					width: 7px;
					height: 7px;
					background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='7'%3E%3Cpath fill-rule='evenodd' fill='%236AD3B1' d='M7 4H4v3H3V4H0V3h3V0h1v3h3v1z'/%3E%3C/svg%3E") no-repeat center center / contain;
					position: absolute;
					right: -4px;
					top: calc(50% - 3px);
				}

				.item-line{
					width: 38px;
					height: 1px;
					border-top: 1px dotted #264d4c;
					position: absolute;
					top: 50%;
					left: 100%;
					transform-origin: left center;

					&:after{
						content: '';
						display: block;
						width: 17px;
						height: 17px;
						border-radius: 50%;
						background: $primary;
						border: 6px solid $pale;
						box-shadow: 0 -4px 0 $body-bg, 0 4px 0 $body-bg;
						position: absolute;
						top: 50%;
						left: calc(100% + 3px);
						transform: translateY(-50%);
					}
				}
			}

			&:first-child{
				.item-text{
					.item-line{
						top: auto;
						bottom: 0;
					}

					&:after{
						top: calc(100% - 3px);
					}
				}
			}

			&:last-child{
				.item-text{
					.item-line{
						top: 0;
					}

					&:after{
						top: calc(0% - 3px);
					}
				}
			}

			&:nth-child(1),
			&:nth-child(5){
				transform: translateX(105px);

				.item-text{
					.item-line{
						width: 38px;
					}
				}
			}

			&:nth-child(2),
			&:nth-child(4){
				transform: translateX(20px);

				.item-text{
					.item-line{
						width: 47px;
					}
				}
			}

			&:nth-child(1){
				.item-text .item-line{
					transform: rotate(45deg);
				}
			}

			&:nth-child(2){
				.item-text .item-line{
					transform: rotate(20deg);
				}
			}

			&:nth-child(4){
				.item-text .item-line{
					transform: rotate(-20deg);
				}
			}

			&:nth-child(5){
				.item-text .item-line{
					transform: rotate(-45deg);
				}
			}
		}
	}

	@media screen and (max-width: 1259px){
		margin-left: 20px;

		.block-items{
			width: 215px;

			li{
				margin-bottom: 67px;

				&:last-child{
					margin-bottom: 0;
				}

				.item-text{
					font-size: 14px;
					padding: 9px 10px;
				}
			}
		}
	}

	@media screen and (max-width: 767px){
		flex-direction: column-reverse;
		align-items: stretch;
		margin-right: 0;
		margin-left: 0;

		.block-image-wrapper{
			width: 300px;
			height: 300px;
			margin-bottom: 60px;
			margin-left: auto;
			margin-right: auto;
		}

		.block-image{
			padding: 35px;
		}

		.block-items{
			margin-right: -10px;
			margin-left: -10px;
			width: calc(100% + 10px * 2);

			li{
				transform: translateX(0) !important;
				margin-bottom: 0;
				position: relative;
				text-align: center;
				margin: 0 10px;

				.item-line{
					display: none;
				}

				&:after{
					content: '';
					display: block;
					width: 9px;
					height: calc(100% + 2px);
					position: absolute;
					right: -1px;
					top: -1px !important;
					border: 1px solid $primary;
					border-left: 0;
					background: transparent;
				}
			}
		}
	}
}